/*The Style Page for Log In and Sign In Pages*/

html {
  background-color: #7ae2c0;
}

body {
  text-align: center;
}

.Title {
  color: white;
  font-size: 80px;
  font-family: fantasy;
}

.inputBoxesDiv {
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid thistle;
  padding: 20px;
}

input {
  padding: 5px;
}

.passwordReq {
  font-size: small;
  color: rgb(151, 142, 151);
}

#loginError {
  display: none;
}

#RepeatError {
  display: none;
}
#PasswordError {
  display: none;
}
#NoMatchError {
  display: none;
}
